[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"
pytest = "*"
black = "*"

[packages]
scikit-learn = "*"
numpy = "*"

[requires]
python_version = "3.7"
